table{
    border-collapse: collapse;
}

td{
    width: 40px;
    height: 40px;
    border: 1px solid black;
    text-align: center;
}

.white{
    background: cornsilk;
}

.black{
    background: darkgrey;
}

tr:last-child td:first-child{
    border-left: none;
    border-bottom: none;
}

.whiteFigure{
    color: black;
}

.blackFigure{
    color: black;
}

i{
    font-size: 24px;
    text-shadow: 0 0 3px goldenrod;
}